.mainCon {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    min-height: 100px;
    box-shadow: 0 -5px 5px 0 rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.19);
}

.navCon {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
}

.secondNavCon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 50px;
    height: 100%;
}

.navItemBox {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 25px;
    height: 100%;
    border: 6px solid transparent;

    box-sizing: border-box;
}

.navItemUnderline {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 25px;
    height: 100%;
    border: 6px solid transparent;
    border-bottom: #008248 6px solid;

    box-sizing: border-box;
}

.link {
    font-family: SoDoSans, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    color: #000000;
    line-height: 0;
    letter-spacing: 1px;
}

.link:hover {
    color: #008248;
}

.linkButton {
    margin-left: 20px;
}

.loginButton {
    font-family: SoDoSans, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    line-height: 0;

    border: 1px solid black;
    color: black;
    background: white;
    border-radius: 20px;
    padding: 15px;
    margin-left: 25px;
    transition: background-color 0.15s linear;
}

.loginButton:hover {
    background-color: #dfdfdf;
}

.registerButton {
    font-family: SoDoSans, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    line-height: 0;

    border: 1px solid black;
    color: white;
    background: black;
    border-radius: 20px;
    padding: 15px;
    transition: background-color 0.15s linear;
}

.registerButton:hover {
    background-color: #474747;
}

.logoLink {
    display: flex;
    align-items: center;
    margin-left: 40px;
    margin-right: 15px;
}

.findStoreText {
    font-family: SoDoSans, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    text-transform: none;
    line-height: 0;
}

.locationLogo {
    height: 23px;
    margin-right: 7px;
}

.userName {
    margin-left: 15px;
    font-family: SoDoSans, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
}