.allDrinksCon {
    display: flex;
    flex-direction: row;
    width: 80%;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 40px;
}

.prodCon {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px;
    width: 200px;
    padding: 10px;
    color: #000000;
    transition: color, 0.3s;
}

.prodCon:hover {
    color: #008248;
}

.prodImg {
    width: 80px;
    border-radius: 90px;
    margin-right: 20px;
}

.prodText {
    font-family: SoDoSans, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    line-height: 0;
}